<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{% block title %}Send Certificates{% endblock %}</title>
  <link href="http://fonts.googleapis.com/css?family=Fauna+One:400,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/standardize.css">
  <link rel="stylesheet" href="/static/css/index-grid.css">
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body class="body page-index clearfix">
  <div id="main-div" class="main-div clearfix">
    {% block main %}
    {% endblock main %}
  </div>
</body>
</html>
